# Projeto 2 - Ciência dos Dados

Nome: _Marco Tulio Masselli Rainho Teixeira_

Nome: _Talissa Gonçalves Albertini_

## Classificador automático de qualidade de investimentos em ações

### Descrição da Base de Dados

A base de dados ultilizada neste projeto é composta por indicadores financeiros coletados ao longo de vários anos da empresa Microsoft

* DATE: Dada de coleta das informações
* NET_INCOME: A diferença entre o lucro bruto e as despesas
* CF_FREE_CASH_FLOW: 
* CF_CASH_FROM_OPER:
* CF_CASH_FROM_INV_ACT:
* CF_CASH_FROM_FNC_ACT:
* CUR_RATIO:
* TOT_DEBT_TO_COM_EQY:
* RETURN_COM_EQY:

Indicadores do DataSet Diário
* DATE: Dada de coleta das informações
* CUR_MKT_CAP : Valor de mercado, valor de uma ação vezes o número total ed ações
* TURNOVER : Indica o quão rápido a empresa consegue arrecadar dinheito com o seu inventário
* PX LAST : Preço da ação 
* EQY_SH_OUT :
* PE RATIO :
* PX_TO_BOOK_RATIO :
* EQY_DPS :

### Técnica utilizada

### Objetivo do Projeto

Este projeto tem o objetivo realizar a análise de indicadores financeiros de uma determinada ação e responder a seguinte questão: Esta ação deve ser tem uma? Os critérios relevantes para responder essa questão é basicamente  a probabilidade dessa ação valorizar durante o próximo trimestre, dado que parte significante dos indicadores são coletados de 3 em 3 meses.

### 1. Preparação do ambiente do Jupyter

In [1]:
%matplotlib inline
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

### 2. Carregando a base de dados com os indicadores

In [2]:
xls = pd.ExcelFile('Dados_BBG.xlsx')
df1 = pd.read_excel(xls, 'MSFT-Quarterly')
df2 = pd.read_excel(xls, 'MSFT-Daily')

In [3]:
dft = df1.iloc[6:133, 1:] 
dft.iloc[:, 0] = dft.iloc[:, 0].dt.date # rectify the date column

dfd = df2.iloc[:, :]

### 3. Tratamento do banco de dados de treinamento

In [5]:
# Set the column's names 

indicators_names = df1.iloc[4,[1,3,5,7,9,11,13,15,17]].array  
dft.rename( columns={'Unnamed: 1':indicators_names[0]}, inplace=True )
dft.rename( columns={'Unnamed: 3':indicators_names[1]}, inplace=True )
dft.rename( columns={'Unnamed: 5':indicators_names[2]}, inplace=True )
dft.rename( columns={'Unnamed: 7':indicators_names[3]}, inplace=True )
dft.rename( columns={'Unnamed: 9':indicators_names[4]}, inplace=True )
dft.rename( columns={'Unnamed: 11':indicators_names[5]}, inplace=True )
dft.rename( columns={'Unnamed: 13':indicators_names[6]}, inplace=True )
dft.rename( columns={'Unnamed: 15':indicators_names[7]}, inplace=True )
dft.rename( columns={'Unnamed: 17':indicators_names[8]}, inplace=True )

In [6]:
indicators_names

<PandasArray>
[                'DATE',           'NET_INCOME',    'CF_FREE_CASH_FLOW',
    'CF_CASH_FROM_OPER', 'CF_CASH_FROM_INV_ACT', 'CF_CASH_FROM_FNC_ACT',
            'CUR_RATIO',  'TOT_DEBT_TO_COM_EQY',       'RETURN_COM_EQY']
Length: 9, dtype: object

In [7]:
# Get rid of unnamed columns thar remained
dft = dft.loc[:, ~dft.columns.str.contains('^Unnamed')]

In [8]:
# Rectify the data type
floats = ['NET_INCOME', 'CF_FREE_CASH_FLOW', 'CF_CASH_FROM_OPER', 'CF_CASH_FROM_INV_ACT', 'CF_CASH_FROM_FNC_ACT', 'CUR_RATIO',  'TOT_DEBT_TO_COM_EQY', 'RETURN_COM_EQY']

for indicator in floats:
    dft[indicator] = dft[indicator].astype(float)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [9]:
dft

,DATE,NET_INCOME,CF_FREE_CASH_FLOW,CF_CASH_FROM_OPER,CF_CASH_FROM_INV_ACT,CF_CASH_FROM_FNC_ACT,CUR_RATIO,TOT_DEBT_TO_COM_EQY,RETURN_COM_EQY
6,1988-09-30,36.582,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1988-12-31,47.485,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1989-03-31,41.119,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1989-06-30,45.352,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1989-09-30,49.588,NaN,59.465,NaN,NaN,2.8538,8.2158,NaN
11,1989-12-31,74.476,NaN,69.540,NaN,NaN,3.2248,1.2991,NaN
12,1990-03-31,75.169,NaN,92.490,NaN,NaN,3.5930,6.1148,NaN
13,1990-06-30,79.953,NaN,56.779,NaN,NaN,3.8541,0.7076,NaN
14,1990-09-30,87.600,NaN,120.600,NaN,NaN,3.6171,1.0097,39.2820
15,1990-12-31,112.900,NaN,97.100,NaN,NaN,3.5446,1.5735,38.4404
16,1991-03-31,123.800,NaN,150.800,NaN,NaN,3.6734,1.6487,38.9510
17,1991-06-30,138.443,NaN,189.378,NaN,NaN,3.5060,1.4403,40.7812
18,1991-09-30,144.000,NaN,187.900,NaN,NaN,3.8182,1.2407,40.7811
19,1991-12-31,175.200,NaN,218.300,NaN,NaN,3.7839,1.0388,40.2424
20,1992-03-31,178.800,NaN,174.000,NaN,NaN,4.5368,0.5844,39.1464
21,1992-06-30,210.060,NaN,326.779,NaN,NaN,3.9596,0.3796,39.9606
22,1992-09-30,209.000,NaN,187.000,NaN,NaN,4.4367,0.0000,39.0178
23,1992-12-31,236.000,NaN,220.000,NaN,NaN,4.9160,0.0000,36.8867
24,1993-03-31,243.000,NaN,266.000,NaN,NaN,4.8197,0.0000,35.8285
25,1993-06-30,265.000,NaN,401.000,NaN,NaN,5.0622,0.0000,35.0693
26,1993-09-30,239.000,NaN,316.000,NaN,NaN,5.2892,0.0000,33.4695
27,1993-12-31,289.000,NaN,349.000,NaN,NaN,4.7054,0.0000,31.8966
28,1994-03-31,256.000,NaN,423.000,NaN,NaN,4.2801,0.0000,29.8733
29,1994-06-30,362.000,NaN,505.000,NaN,NaN,4.7229,0.0000,29.7972
30,1994-09-30,316.000,323.0,390.000,NaN,NaN,4.5359,0.0000,30.9738
31,1994-12-31,373.000,342.0,445.000,NaN,NaN,4.2847,0.0000,31.9209
32,1995-03-31,396.000,541.0,643.000,NaN,NaN,4.4616,0.0000,32.3641
33,1995-06-30,368.000,289.0,512.000,NaN,NaN,4.1722,0.0000,29.7046
34,1995-09-30,499.000,384.0,500.000,NaN,NaN,3.6481,0.0000,32.1762
35,1995-12-31,575.000,1313.0,1401.000,NaN,NaN,3.1696,0.0000,34.6042
...,...,...,...,...,...,...,...,...,...
103,2012-12-31,6377.000,3850.0,4780.000,-2593.0,-1206.0,2.8071,19.5492,22.6179
104,2013-03-31,6055.000,8736.0,9666.000,-7660.0,-2783.0,2.9291,18.5101,22.5749
105,2013-06-30,4965.000,4109.0,5903.000,-5839.0,-1500.0,2.7118,19.7608,30.0921
106,2013-09-30,5244.000,6974.0,8205.000,-4614.0,-3372.0,2.8724,19.5147,30.0923
107,2013-12-31,6558.000,2681.0,4413.000,-1025.0,2648.0,3.1673,26.9988,28.9480
108,2014-03-31,5660.000,8907.0,10099.000,-4284.0,-4302.0,3.2152,25.9414,27.3313
109,2014-06-30,4612.000,8184.0,9514.000,-8910.0,-3507.0,2.5040,25.2216,26.1652
110,2014-09-30,4540.000,7072.0,8354.000,-7737.0,-2984.0,2.5158,26.3059,24.8762
111,2014-12-31,5863.000,2850.0,4340.000,-4716.0,500.0,2.4541,30.8101,23.3644
112,2015-03-31,4985.000,8179.0,9570.000,-5481.0,-3101.0,2.9056,35.3570,22.5281
113,2015-06-30,-3195.000,5068.0,6849.000,-5067.0,-3601.0,2.4734,44.0693,14.3559
114,2015-09-30,5069.000,7520.0,8876.000,-5066.0,-3974.0,2.4627,49.7992,15.1800
115,2015-12-31,5938.000,3594.0,5618.000,-3328.0,-536.0,2.9973,57.8653,15.1750
116,2016-03-31,4305.000,8059.0,10367.000,-5483.0,-4899.0,2.8954,62.0191,14.6928
117,2016-06-30,5227.000,5809.0,8464.000,-10073.0,949.0,2.6776,69.4644,25.1745
118,2016-09-30,5667.000,9386.0,11549.000,-18470.0,14339.0,3.0712,90.5751,26.4366
119,2016-12-31,6267.000,4305.0,6293.000,-14751.0,2998.0,2.3029,103.8385,27.0678
120,2017-03-31,5486.000,8965.0,10660.000,-6191.0,-6224.0,2.8134,120.4778,31.3377
121,2017-06-30,8069.000,8722.0,11005.000,-7369.0,-2686.0,2.9186,108.9111,29.8464
122,2017-09-30,6576.000,10308.0,12440.000,-6904.0,-6315.0,3.1198,106.8279,30.6759
123,2017-12-31,-6302.000,5289.0,7875.000,-331.0,-1569.0,2.8853,127.8012,17.2659
124,2018-03-31,7424.000,9217.0,12151.000,3844.0,-19633.0,3.3958,111.8401,21.1683
125,2018-06-30,8873.000,7438.0,11418.000,-2670.0,-6023.0,2.9008,105.7908,19.4462
126,2018-09-30,8824.000,10055.0,13657.000,-2953.0,-7513.0,2.9176,102.2811,21.4322
127,2018-12-31,8420.000,5193.0,8900.000,-4200.0,-13199.0,3.1177,92.7872,39.3471
128,2019-03-31,8809.000,10955.0,13520.000,-1363.0,-7583.0,2.9685,91.0177,40.1211
129,2019-06-30,13187.000,12057.0,16108.000,-7257.0,-8707.0,2.5288,84.4865,42.4106
130,2019-09-30,10678.000,10433.0,13818.000,-1776.0,-10281.0,2.8545,80.6800,42.8000
131,2019-12-31,11649.000,7135.0,10680.000,-6036.0,-8897.0,2.8014,79.1461,43.8327
132,2020-03-31,10752.000,13737.0,17504.000,51.0,-14709.0,2.9043,73.3836,44.1965

In [10]:
price = dft['NET_INCOME']
mv = dft['CUR_RATIO']
cov_price_mv = price.corr(mv)
cov_price_mv

-0.4163161274531859